/* INSERT MEDIA QUERY FOR 900PX MAX*/
@media (min-width: 900px){
    :root{
        --fs-h1: 4rem;
        --fs-h2: 3.8rem;
        --fs-h3: 2 rem;
        --fs-body: 1.2 rem;
    }

}

@media (min-width: 600px){
   .intro, .services, .about-me, .portfolio {
    display: grid;
    width: min-content;
    grid-gap: 6px;

   } 

}

@media (min-width: 400px){
    .logo, .intro, .services, .about-me, .portfolio, .contact-me{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        align-content: center;
    }
}